/* 
클래스선택자 =  . 으로 시작 
id선택자 = # 으로 시작
태그, 전체선택자 = * 시작
*/
/* div 특징 : block 속성, 자동줄바꿈 발생, p태그, h1~h6태그 */
/* span 특징 : inline 속성, 줄바꿈 없음, input태그, img 태그 등 */
/* 인라인으로 변경하면 width, height 속성이 무시됨 안의 컨텐츠(글)에 따라 크기 정해짐 */
/* TODO dispaly속성 : 블록 <--> 인라인 변경 가능 */
.box {
    width: 50px;
    height: 50px;
    background-color: blue;
    display: inline;
}

.box2 {
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline;
}

.box3 {
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline;
}