ul {
  list-style-type: none;
}
/* 후손 선택자 */
#v_menu li {
  border-bottom: 1px dotted;
  width: 150px;
  padding: 5px;
}
/* 후손 선택자 */
#h_menu li {
  display: inline-block;
}

.menus {
  color: darkgreen;
  margin-right: 20px;
  margin-left: 20px;
}
