/* float : 좌/우 배치 속성, div 박스 배치, 중앙배치 없음 */
.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    float: left;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(165, 165, 194);
    margin: 10px;
    float: right;
}