/* float 속성 특징 : float 걸린 태그는 떠 있음  */
/*    float 밑에 있는 태그들이 높이가 없다고 가정하여 위로 말려 올라옴(겹침현상) */
/* 여백 초기화 */
* {
  padding: 0;
  margin: 0;
}

li {
  /* 앞에 점에 없애기 */
  list-style-type: none;
}

#image {
  /* 외곽선 : border : 선두께 선스타일 선색상 */
  border: 1px solid red;
  /* 왼쪽 정렬 */
  float: left;
}

#desc {
  /* 가로 */
  width: 300px;
  /* 바깥여백 - 왼쪽 */
  margin-left: 30px;
  /* 외곽선 : border : 선두께 선스타일 선색상 */
  border: 1px solid red;
  /* 왼쪽 정렬 */
  float: left;
}

#menu {
  /* 외곽선 : border : 선두께 선스타일 선색상 */
  border: 1px solid red;
  /* 오른쪽 정렬 */
  float: right;
}
