body {
    background-color: pink;
}
.container {
    width: 500px;
    height: 250px;
    background-color: rgb(98, 196, 163);
    position: absolute;
    left: 50%;
    top: 50%;
    /* 애니메이션 함수 : div를 위치 이동 시키는 함수 */
    /* 보정 : 박스의 가로/세로 크기의 반만큼 위치 이동해야 중앙에 위치 */
    /* 사용법 : transform: translate(가로, 세로) */
    transform: translate(-50%, -50%);
}