/* 푸터(꼬리말) 영역 */
footer {
    /* 가로 */
    width: 1200px;
    /* 세로 */
    height: 100px;
    /* 외곽선 - 위 */
    border-top: 2px solid #222;
    /* 바깥 여백 - 위 */
    margin-top: 50px;
  }
  
  /* 꼬리말 : li -> 세로 -> 가로 */
  #bottomMenu ul li {
    /* 가로배치 */
    display: inline-block;
    /* 안쪽 여백:(축약식) */
    /* padding: 상하 좌우 */
    padding: 5px 20px;
    /* 외곽선 - 오른쪽 */
    border-right: 1px solid #ddd;
  }
  
  #bottomMenu ul {
      /* 바깥여백 - 위 */
      margin-top: 15px;
      /* 바깥여백 - 왼쪽 */
      margin-left: 60px;
  }
  
  /* 꼬리말 - a태그 */
  #bottomMenu ul li a {
      /* 글자 크기 */
      font-size: 15px;
      /* 글자색 */
      color: #666;
  }
  