/* 구글 웹폰트 import(외부 css 파일 가져오기의 뜻) */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

/* 여백 초기화 */
* {
    padding: 0;
    margin: 0;
}

/* 점 없애기 */
ul {
    list-style-type: none;
}

/* a 링크에 밑줄 없애기 */
a {
    /* a 태그 밑줄 없애기 */
    text-decoration: none;
}

/* 전체 페이지 디자인 */
#container {
    /* 가로 */
    width: 1200px;
    /* 중앙정렬 */
    margin: 0 auto;
}

/*************************************/
/* 헤더 영역 - 로고와 네비게이션       */
/*************************************/
header {
    /* 가로 */
    width: 100%;
    /* 세로 */
    height: 100px;
    /* 배경색 */
    background-color: #045;
}

/* 헤더(header) - 로고(#logo, 왼쪽) + 네비게이션(nav, 오른쪽) */
/* 로고(왼쪽) : 가로(250px) */
#logo {
    /* 왼쪽 배치 */
    float: left;
    /* 가로 */
    width: 250px;
    /* 세로 */
    height: 100px;
    /* 글자 세로 중앙 정렬 : height 값 == line-height 값 */
    line-height: 100px;
    /* 안쪽여백 - 왼쪽 */
    padding-left: 20px;
}
/* 구글 웹폰트 적용 : Merienda */
#logo h1 {
    /* 구글 웹폰트 적용 */
    font-family: 'Merienda', cursive;
    /* 글자 크기 */
    font-size: 40px;
    /* 글자색 */
    color: white;
    /* 글자 굵기 : bold(키워드), 숫자도 가능 900까지 */
    font-weight: 600;
}

/* 헤더 - 네비게이션(nav) : 오른쪽배치, 900px */
nav {
    /* 오른쪽 배치 */
    float: right;
    /* 가로 */
    width: 900px;
    /* 세로 */
    height: 100px;
    /* 메뉴를 아래로 내리기 위해 안쪽 여백 추가 (위쪽) */
    padding-top: 40px;
}

/* ul(#topMenu) > li : 세로 -> 가로배치 */
#topMenu > li {
    /* 가로배치 */
    display: inline-block;
}
/* #topMenu(ul) > li > a태그 */
#topMenu > li > a {
    /* 글자 크기 */
    font-size: 1.1em;
    /* 글자색 */
    color: white;
    /* 글자 굵기 : bold(키워드), 숫자도 가능 100 ~ 900까지 */
    font-weight: 600;
    /* 안쪽 여백 : 축약식 */
    /* padding : 상하 좌우 */
    padding: 20px 60px;
}
/* 마우스가 위로 올라갔을때 디자인 적용 :hover */
#topMenu > li > a:hover {
    /* 글자색 */
    color: skyblue;
}
