.box {
  /* 가로 */
  width: 100px;
  /* 세로 */
  height: 100px;
  /* 배경색 */
  background-color: blue;
  /* 외곽선 */
  border: 1px solid black;
  /* 바깥여백(축약식) - 중앙정렬 */
  /* margin: 상하 auto */
  margin: 20px auto;

  /* TODO: 애니메이션 추가 */
  /* transition-property: 애니메이션효과를 부여할 속성 나열 */
  /* 사용법 : transition-property: 속성, 속성2 ... */
  transition-property: width, height;
  /* 지속시간 : 애니메이션 효과를 지속할 시간
       s(second) : 초, m(minutes) : 분, h(hour) : 
       h(hour) : 시
     */
  /* 사용법 : transition-duration: 지속시간, 지속시간2 ... */
  transition-duration: 2s, 1s;
}

/* 박스에 마우스가 위로 올라가면 :hover */
.box:hover {
  /* 가로 : 100px -> 200px */
  width: 200px;
  /* 세로 : 100px -> 120px */
  height: 120px;
}
