.box {
  /* 가로 */
  width: 100px;
  /* 세로 */
  height: 100px;
  /* 배경색 */
  background-color: rgb(255, 166, 0);
  /* 가로 중앙 정렬 */
  margin: 50px auto;
  /* 외곽선 */
  border: 1px solid black;

  /* TODO: 애니메이션 부여(축약식) */
  /* all = 모든 속성 */
  /* ease-in = 시작(천천히 진행) - 끝(빨리진행) : 속도차이가 있는 효과 부여 */
  transition: all ease-in 2s;
}

/* 박스에 마우스가 위로 올라가면 :hover */
.box:hover {
    /* 가로 : 100px -> 200px */
    width: 200px;
    /* 세로 : 100px -> 200px */
    height: 200px;

    background-color:darkgreen
  }
  
