h3 {
    color: blue;
    /* 폰트 스타일 : 맑은 고딕 등 */
    font-family :'sans-real';
}

li {
    /* 목록 점 없애기 = list-style-type: none; = 없음 */
    /* 목록 점 없애기 = list-style-type: disc; = 원 */
    /* 목록 점 없애기 = list-style-type: square; = 사각형 */
    list-style-type: none;
}