body {
  font-family: "돋음";
}

h3 {
  font-size: 16px;
  color: blue;
  font-weight: bold;
  font-family: "맑은고딕";
}
p {
  line-height: 150%;
  font-size: 14px;
}

li {
  list-style-type: square;
}

span {
  font-weight: bold;
}
