/* box 속성 : 높이, 가로, 바깥여백, 안쪽여백, 외곽선 */
div {
    /* 가로 */
    width: 100px;
    /* 세로 */
    height: 100px;
    /* 배경색 */
    background-color: red;
    /* 외곽선 */
    /* 선 두께, 선 스타일, 선 색깔 */
    border: 5px solid orange;
    /* 안쪽 여백 */
    padding: 30px;
    /* 바깥여백 */
    margin: 10px;
}
