/* 디자인 공식 */
/* 컨텐츠크기 (순수한 이미지, 글자 등) */
/* 전체 가로 크기 = (컨텐츠 가로 크기 + 2 * 패딩 + 2 * 마진) */
/* 전체 세로 크기 = (컨텐츠 세로 크기 + 2 * 패딩 + 2 * 마진) */
body {
    background-image: url(/01_HTML/05_chapter_css/img/fff.png);
}

#shop {
    padding: 50px 20px;
}

#button {
    margin-top: -20px;
    padding-left: 180px;
}